
.w2w-calendar:before { content: '\e800'; } /* '' */
.w2w-cub:before { content: '\e801'; } /* '' */
.w2w-caret-right:before { content: '\e802'; } /* '' */
.w2w-caret-left:before { content: '\e803'; } /* '' */
.w2w-true:before { content: '\e804'; } /* '' */
.w2w-false:before { content: '\e805'; } /* '' */
.w2w-icon-menu:before { content: '\e806'; } /* '' */
.w2w-frame:before { content: '\e807'; } /* '' */