
.w2w-calendar:before { content: '\e800'; } /* '' */
.w2w-cub:before { content: '\e801'; } /* '' */
.w2w-caret-right:before { content: '\e802'; } /* '' */
.w2w-caret-left:before { content: '\e803'; } /* '' */
.w2w-true:before { content: '\e804'; } /* '' */
.w2w-tipster:before { content: '\e805'; } /* '' */
.w2w-icon-menu:before { content: '\e806'; } /* '' */
.w2w-fence:before { content: '\e807'; } /* '' */
.w2w-lock:before { content: '\e808'; } /* '' */
.w2w-notification:before { content: '\e809'; } /* '' */
.w2w-cloud:before { content: '\e80a'; } /* '' */
.w2w-dice:before { content: '\e80b'; } /* '' */
.w2w-horse:before { content: '\e80c'; } /* '' */
.w2w-close:before { content: '\e80d'; } /* '' */
.w2w-false:before { content: '\e80e'; } /* '' */
.w2w-antena:before { content: '\e80f'; } /* '' */
.w2w-news:before { content: '\e810'; } /* '' */
.w2w-racecards:before { content: '\e811'; } /* '' */
.w2w-result:before { content: '\e812'; } /* '' */